.idea
*.iml
npm-debug.log
dump.rdb
node_modules
results.tap
results.xml
.DS_Store
.orig
*/.DS_Store
*/*/.DS_Store
._*
*/._*
*/*/._*
coverage.*
html-report
coverage/
newrelic_agent.log
*.js.map
dev.ts
dev.js

server.js

common/*.js
config/*.js
!config/migration_config.js
controllers/*.js
lib/*.js
models/*.js
test/*.js
migrations/seed.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
